@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oleo+Script&display=swap');

/* Banner */
.slides_container {
    position: relative;
    margin: auto;
    margin-bottom: 50px;
}

/* Section */
.nutrition {
    margin-top: 80px;
}

/* Section */
.recettes {
    margin-top: 150px;
    margin-bottom: 300px;
}

/* Footer */
.footer {
    display: block;
}