@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oleo+Script&display=swap');

/* Banner */
.slides_container {
    position: relative;
    margin: auto;
    margin-bottom: 50px;
}

/* Section */
.nutrition {
    margin-top: 80px;
}

/* Section */
.recettes {
    margin-top: 150px;
    margin-bottom: 300px;
}

/* Footer */
.footer {
    display: block;
}

.container_products_notes {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(144, 238, 144, 0.526);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    
}