@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Marck+Script&family=Yanone+Kaffeesatz:wght@500&display=swap');


.shopping_product_container {
    display: flex;
    background-color: lightgreen;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 15px;
}

.shopping_product_item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 150px;
    justify-content: space-evenly;
}

.main_container {
  margin-top: 150px;
}

.btn_button {
  padding: 15px;
}

.total_products_price {
  background-color: gainsboro;
  border: 1px solid;
  float: right;
  margin-right: 50px;
  width: 180px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.quantity_input {
  width: 70px;
  padding: 5px;
}

.quantity_container input[type='number']::-webkit-inner-spin-button,
.quantity_container input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity_container {
  display: flex;
}

.btn_up_down {
  display: flex;
  flex-direction: column;
}
.btn_up_down {
  padding: 1px;
}

.btn_up_down button {
  height: 20px;
  width: 20px;
  border: 1px solid;
  background-color: gainsboro;
  cursor: pointer;
}

.btn_up_down button:active {
  background-color: gray;
}

.btn_confirm_quantity {
  margin: 10px;
  background-color: gainsboro;
  padding: 5px;
  border: 1px solid;
  cursor: pointer;
}

.btn_confirm_quantity:active {
  background-color: gray;
}

.shopping_remove_icon_contenaire {
  display: flex;
  align-items: center;
}

.fa-circle-xmark {
  font-size: 25px;
  cursor: pointer;
}

.fa-circle-xmark:hover {
  color: gray;
}

.shopping_no_product_add {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 100px;
}

.our_products_global_container {
  width: 1400px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.our_products_global_container h1 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 25px;
  color: green;
  font-family:'Oleo Script';
}

.shopping_continue_back {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
}