.details_global_container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 150px auto;
    background-color: rgba(244, 244, 244, 0.717);
    padding-top: 50px;
    padding-bottom: 50px;
}

.details_img_container {
    height: 600px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.details_shopping_add_btn {
    padding: 15px;
    width: 300px;
    background-color: green;
    color: white;
    border: none;
}

.details_info_container {
    height: 300px;
    width: 400px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
}

.details_side_img {
    width: 250px;
    height: 600px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.details_sideImg_img {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.details_sideImg_img_container {
    display: flex;
    justify-content: space-evenly;
    width: 900px;
    margin-left: 30px;
}

.details_price {
    padding: 15px;
    width: 300px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.details_name {
    font-size: 25px;
    font-family:'Oleo Script';
    color: gray;
}