.details_global_container {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 150px auto;
}

.details_img_container {
    height: 400px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: gainsboro;
}

.details_btn {
    padding: 15px;
    width: 150px;
}

.details_info_container {
    height: 300px;
    width: 400px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
}
