.details_parent_container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 150px auto;
    background-color: rgba(244, 244, 244, 0.717);
    padding-top: 50px;
}

.details_img_container {
    height: 600px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid gainsboro;
    border-radius: 10px;
    position: relative;
    background-color: white;
}

#details_right_arrow {
    right: 10px;
    rotate: 90deg;   
}

#details_left_arrow {
    left: 10px;
    rotate: -90deg;    
}

#details_right_arrow, #details_left_arrow {
    position: absolute;
    top: 50%;
    font-size: 25px;
    cursor: pointer;
    color: rgba(128, 128, 128, 0.777);
}


#details_right_arrow:hover, #details_left_arrow:hover {
    color: gray;
} 

.details_shopping_add_btn {
    padding: 15px;
    width: 300px;
    background-color: rgb(82, 187, 82);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.details_info_container {
    height: 500px;
    width: 400px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
}

.details_side_img_sub_container {
    width: 250px;
    height: 600px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-y: scroll;
}

.details_side_img {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.details_sideImg_img {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.details_sideImg_img_active {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid green;
}

.details_sideImg_img_container {
    display: flex;
    justify-content: space-evenly;
    width: 900px;
    margin-left: 30px;
}

.details_price {
    padding: 15px;
    width: 300px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.details_name {
    font-size: 25px;
    font-family:'Oleo Script';
    color: green;
}

.right_arrow_disabled {
    opacity: 0.5;
    pointer-events: none;
}
  
.details_product_details {
    width: 300px;
    line-height: 30px;
    text-align: justify;
}

.details_line_between_products_comments {
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: gainsboro;
}

.details_comments_title {
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    color: gray;
}

.details_comments_write_reviews_button_global_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;

}

.details_comments_write_reviews_button_parent_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.details_reviews_container {
    width: 90%;
    margin: 50px auto;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.details_reviews_item {
    width: 700px;
    line-height: 20px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.details_reviews_name {
    margin-bottom: 10px;
    font-weight: bold;
}

.details_footer {
    margin-top: 200px;
}

.details_write_reviews_btn {
    height: 40px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgb(141, 211, 141);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.details_product_details_global_container {
    width: 90%;
    margin: 50px auto;
    margin-bottom: 150px;
}

.details_product_details_parent_container {
    width: 800px;
    text-align: left;
    line-height: 30px;
    font-size: 15px;
}

.details_comment_form {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.433);
    top: 0;
    position: fixed;
    z-index:1;
}