.footer_container {
    height: 150px;
    margin: 15px;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: rgba(199, 242, 124, 0.463);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer_contact_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
    height: 100%;
}

.footer_social_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 305px;
    height: 100%;
    font-size: 25px;
}

#footer_facebook {
    color:  rgb(43, 106, 168);
}

#footer_instagram {
    color: rgb(204, 61, 142);
}

#footer_email {
    color: rgb(136, 57, 69);
}

#footer_phone {
    color: green;
}

.footer_email {
    display: flex;
    justify-content: space-between;
    width: 190px;
}

.footer_phone {
    display: flex;
    justify-content: space-between;
    width: 170px;
}

.footer_social_icons {
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
}

.footer_social_icons p:first-child {
    font-size: 16px;
    color: green;
}

#footer_email, #footer_phone, #footer_instagram, #footer_facebook{
    font-size: 22px;
}

.footer_copyright_container {
    height: 40px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
}

.footer_under_line {
    width: 130px;
    height: 1px;
    background-color: black;
}

.footer_subscribe_container {
    display: flex;
    justify-content: space-between;
}

.footer_subscribe_container input {
    padding: 10px;
}

.footer_subscribe {
    width: 100px;
    height: 40px;
    font-size: 17px;
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.736);
    color: white;
}