header {
    margin-bottom: 50px;
    height: 30px;
}

header nav {
    margin-top: 30px;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    height: 50px;
}

header nav ul li a {
    text-decoration: none;
    color: #268703;
}

.fa-bag-shopping {
    font-size: 25px;
}

.search_barre {
    position: relative;
}

.search_barre input {
    width: 600px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(196, 195, 195);
}

.search_barre input::placeholder {
    color: rgb(99, 97, 97);
}

.fa-magnifying-glass {
    position: absolute;
    margin-left: -35px;
    margin-top: 8px;
    cursor: pointer;
    color:  #268703;
    font-size: 20px;
}

.produits {
    position: relative;
}

.under_list p:hover a {
    color: white;
}

.logo {
    height: 100px;
    width: 150px;
}

.panier span {
    margin-left: 10px;
}

.angles {
    width: 400px;
    position: relative;
    display: flex;
    align-items: center;
}

.home.active a {
    background-color: #268703;
    padding: 8px;
    border-radius: 50%;
    width: 80px;
    color: white;
}
.produits.active a {
    background-color: #268703;
    padding: 8px;
    border-radius: 50%;
    width: 80px;
    color: white;
}
.services.active a {
    background-color: #268703;
    padding: 8px;
    border-radius: 50%;
    width: 80px;
    color: white;
}


.home, .produits, .services {
    display: inline;
    position: absolute;
}

.produits {
    left: 140px;
}

.services {
    left: 280px;
}

.favorites_products_icon {
    position: relative;
}

.favorites_products_count {
    position: absolute;
    background-color: #7cba00;
    padding: 1.5px;
    border-radius: 50%;
    font-family: monospace;
    top: -17px;
    right: -7px;
    color: white;
}

.serachBar_result_container {
    width: 600px;
    box-shadow: 0px 5px 5px -1px;
    position: absolute;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.searchBar_item_image {
    width: 150px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.searchBar_item_container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.searchBar_item_container:hover {
    background-color: rgb(214, 246, 214);
}

.shopping_cart_icon_container {
    position: relative;
}

#shopping_cart_icon {
    color: green;
}

.shopping_cart_icon_count {
    position: absolute;
    background-color: #7cba00;
    padding: 1.5px;
    border-radius: 50%;
    font-family: monospace;
    top: -14px;
    right: -5px;
    color: white;
}