.recipe_global_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pics_container_sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    width: 450px;
}

.pics_englob {
    text-align: left;
    font-size: 18px;
    color: green;
    font-family:'Oleo Script';
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 100px;
}

.pics_container {
    height: 300px;
    width: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
}

.info_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.recette_name{
    padding-left: 15px;
    color: black;
}

.recettes_interactions {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.recettes_note::before {
    content: "|";
    margin-right: 20px;
}

.fa-star {
    font-size: 15px;
}

.fa-bookmark {
    color: rgba(0, 128, 0, 0.452);
}

.favRecipe {
    color: gold;
}

.recette_section_vide {
    width: 100%;
    height: 300px;
    background-color: rgba(244, 244, 244, 0.717);
    display: flex;
    justify-content: center;
    align-items: center;
}

.recette_section_vide p {
    width: 200px;
    height: 50px;
    border: 1px solid gray;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Calibri';
    letter-spacing: 1px;
    color: gray;
}