.pics_container_sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
}

.pics_container {
    height: 550px;
    width: 630px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
}

.pics_englob {
    text-align: left;
    font-size: 25px;
    color: green;
    font-family:'Oleo Script';
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 100px;
}

.recette_name{
    padding-left: 15px;
    color: black;
}

.info_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.fa-star {
    font-size: 15px;
}

.recettes_note::before {
    content: "|";
    margin-right: 20px;
}

.recettes_interactions {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
