@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Marck+Script&display=swap');

* {
    box-sizing: border-box
}

.image_slides {
  background-size: cover;
  background-position: top;
  height: 400px;
  width: 100%;
}

.slides p {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
  margin-bottom: 130px;
}

.citation_container {
  top: 150px;
  left: 300px;
  padding: 10px;

}

.citation {
  color:  #268703;
  padding: 10px;
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: 'Marck Script', cursive;
  background-color: white;
}

.citation::after {
  content: "";
  height: 5px;
  width: 100px;
  background-color: green;
}