.user_inscription_form_global_container { 
    width: 450px;
    height: 450px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user_inscription_form_container {
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;

}

.user_inscription_inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65px;
}

.user_inscription_inputs input {
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}

.user_inscription_submit_btn {
    margin-top: 30px;
}

.user_inscription_submit_btn input {
    background-color: rgba(114, 164, 40, 0.907);
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.user_inscription_submit_btn input:hover {
    background-color: green;
}