.add_recipe_global_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 600px;
    background-color: white;
    box-shadow: 0px 0px 5px 2px;
    margin: 150px auto;
    padding: 20px;
    position: relative;
}

.add_recipe_image {
    height: 440px;
    width: 400px;
    border: 1px solid;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.add_recipe_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 440px;
    text-align: left;
}

.add_recipe_item {
    display: flex;
    flex-direction: column;
}

.add_recipe_item input {
    height: 30px;
    width: 500px;
    font-size: 15px;
}

.add_recipe_item textarea {
    height: 100px;
    width: 500px;
    resize: none;
    font-size: 15px;
}

.add_recipe_item input[type="file"] {
    border: 1px solid grey;
    padding: 10px;
    height: 45px;
}

.add_recipe_item label {
    margin-bottom: 10px;
}

.btn_new_recipe_add {
    width: 500px;
    height: 40px;
    font-size: 15px;
    background-color: lightgreen;
    border: 1px solid grey;
    cursor: pointer;
}

#add_recipe_close_icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

/*
.add_recipe_container {
    display: flex;
    flex-direction: column;
    width: 600px;
    text-align: left;
    margin: 200px auto;
}

.add_recipe_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.add_recipe_item input {
    height: 40px;
    font-size: 15px;
}

.add_recipe_item textarea {
    height: 150px;
    resize: none;
    font-size: 15px;
}

.add_recipe_item input[type="file"] {
    border: 1px solid grey;
    padding: 10px;
}

.add_recipe_item label {
    margin-bottom: 10px;
}

.btn_new_recipe_add {
    width: 100%;
    height: 40px;
    font-size: 15px;
    background-color: lightgreen;
    border: 1px solid grey;
    cursor: pointer;
}

.add_recipe_image {
    height: 440px;
    width: 400px;
    border: 1px solid;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
*/