.product_manage_global_container {
    padding: 10px;
    height: 800px;
    width: 100%;
    background-color: rgb(241, 241, 248);
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.product_manage_sub_container {
    display: flex;
    flex-direction: column;
}

.product_manage_addBtn_adminWelcom {
    display: flex;
    justify-content: end; 
}

.product_manage_table_container {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    margin: 0px auto;
    background-color: rgb(241, 241, 248);
}

.product_manage_table_container th {
    padding: 10px;
    background-color: white;
}

.product_manage_table_container td {
    background-color: white;
}


.product_manage_img_container {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.product_manage_btn_edit {
    display: block;
    cursor: pointer;
    margin: 0 auto;
    width: 100px;
    margin-bottom: 20px;
}

.product_manage_btn_delete {
    display: block;
    cursor: pointer;
    margin: 0 auto;
    width: 100px;
    background-color: rgb(180, 59, 59);
    color: white;
}

.product_manage_btn_add_product {
    width: 200px;
    height: 40px;
    cursor: pointer;
    border: 2px solid gainsboro;
    background-color: rgba(10, 127, 10, 0.576);
    color: white;
}

.product_manage_btn_add_product:hover {
    background-color: rgb(111, 200, 111);
}

a {
    text-decoration: none;
}

.product_manager_add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 250px;
    margin: 20px auto;
    border: 1px solid rgba(128, 128, 128, 0.488);
    border-style: dashed;
    border-width: 2px;
    cursor: pointer;
}

.product_manager_add p {
    color: gray;
    font-size: 15px;
}