.admin_layout_global {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
}

.admin_layout {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(241, 241, 248);
}

.admin_layout_header {
    width: 100%;
}