.admin_layout_global {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
}

.admin_layout {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(241, 241, 248);
}

.admin_layout_header {
    width: 100%;
}

.product_manage_add_product_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.575);
    backdrop-filter: blur(2px);
    z-index: 1;
    position: fixed;
}

.recipe_manage_add_recipe_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.433);
    z-index: 1;
    position: fixed;
}

.product_manage_edit_product_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.433);
    z-index: 1;
    position: fixed;
}

.recipe_manage_edit_recipe_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.433);
    z-index: 1;
    position: fixed;
}